trigger:
  branches:
    include:
      - master
      - main

pr:
  branches:
    include:
      - master
      - main

pool:
  vmImage: ubuntu-latest

variables:
  javaVersion: "21"

stages:
  - stage: BuildAndTest
    displayName: Build and Test
    jobs:
      - job: Build
        displayName: Gradle Build
        steps:
          - checkout: self
            displayName: Checkout repository

          - task: JavaToolInstaller@0
            displayName: "Set up JDK"
            inputs:
              versionSpec: "$(javaVersion)"
              jdkArchitectureOption: "x64"
              jdkSourceOption: "PreInstalled"

          - script: chmod +x gradlew
            displayName: "Make gradlew executable"
            condition: eq(variables['Agent.OS'], 'Linux')

          - task: Gradle@3
            displayName: "Gradle clean build test"
            inputs:
              workingDirectory: ""
              gradleWrapperFile: "gradlew"
              tasks: "clean build test"
              publishJUnitResults: true
              testResultsFiles: "**/TEST-*.xml"
              javaHomeOption: "JDKVersion"
              jdkVersionOption: "1.21"
              jdkArchitectureOption: "x64"

          - task: PublishTestResults@2
            displayName: "Publicar resultados de testes"
            condition: succeededOrFailed()
            inputs:
              testResultsFormat: "JUnit"
              testResultsFiles: "**/TEST-*.xml"

          - task: NodeTool@0
            displayName: "Instalar Node.js 18"
            inputs:
              versionSpec: "18.x"

          - script: npm install -g newman
            displayName: "Instalar Newman"

          - script: >
              newman run "postman/MotoVision API Tests.postman_collection.json"
              --environment "postman/MotoVision.postman_environment.json"
              --reporters cli,junit
              --reporter-junit-export "postman/newman-results.xml"
            displayName: "Executar testes Postman (Newman)"

          - task: PublishTestResults@2
            displayName: "Publicar resultados Newman"
            condition: succeededOrFailed()
            inputs:
              testResultsFormat: "JUnit"
              testResultsFiles: "postman/newman-results.xml"
              testRunTitle: "Postman API Tests"

          - task: PublishBuildArtifacts@1
            displayName: "Publicar artefatos"
            inputs:
              pathToPublish: "$(System.DefaultWorkingDirectory)/build/libs"
              artifactName: "mottu-api-jar"
              publishLocation: "Container"
